@import "variables";

.my_header{
    background-color: rgb(226, 226, 226);
    .my_cont_header{
        display: flex;
        align-items: center;
        margin: auto;
        max-width: $container-width;
        .logo{
            width: 70px;
        }
        .my_navbar{
            display: inline-block;
            margin-left: auto;
            ul{
                margin: 0px;
                li{
                    line-height: 85px;
                    display: inline-block;
                    padding: 10px;
                    position: relative;
                    a{
                        color: black;
                        font-size: $font-size;
                        text-decoration: none;
                        font-family: $font-family-PT;
                    }
                    .active{
                        color: $brand-color;
                    }
                    .barra{
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        background-color: $brand-color;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                    }
                }
            }
        }
    }
}