@import "variables";
.my_header{
    padding: 15px 0px 15px 0px;
    background-color: rgb(226, 226, 226);
    .my_cont_header{
        display: flex;
        margin: auto;
        max-width: $container-width;
        .logo{
            width: 70px;
        }
        .my_navbar{
            display: inline-block;
            margin-left: auto;
            ul{
                li{
                    display: inline-block;
                    padding: 10px;
                    a{
                        color: black;
                        font-size: $font-size;
                        text-decoration: none;
                        font-family: $font-family-PT;
                    }
                }
            }
        }
    }
}