.my_main{
    /* padding: 20px 0px 20px 0px; */
    background-image: url("assets/jumbotron.jpg");
    height: 400px;
    background-position: top;
    .my_cont_main{
        display: flex;
        margin: auto;
        max-width: 1140px;
        position: relative;
        height: 100%;
        .current_series{
            color: white;
            width: 200px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            background-color: #0282f9;
            padding: 15px;
            text-align: center;
            transform: translateY(50%)
        }
        /* .cont_btn {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            .btn_load_more {
              padding: 10px 40px 10px 40px;
              color: white;
              background-color: royalblue;
              border: none;
            }
          } */
    }
}