@import "@/styles/singleCard.scss";
@import "variables";

.my_main{
    /* padding: 20px 0px 20px 0px; */
    background-image: url("assets/jumbotron.jpg");
    height: 400px;
    background-position: top;
    .my_cont_main{
        display: flex;
        margin: auto;
        max-width: $container-width;
        position: relative;
        height: 100%;
        .current_series{
          font-family: $font-family-PT;
            color: white;
            font-size: 27px;
            width: 200px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            background-color: $brand-color;
            padding: 10px;
            text-align: center;
            transform: translateY(50%)
        }
    }
}
.card_cont_black{
  background-color: black;
  padding-top: 30px;
  .card_section{
    max-width: $container-width;
    margin: auto;
    padding: $section-padding;
    .cont_btn {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      .btn_load_more {
        background-color: $brand-color;
        border: none;
        padding: 10px 40px 10px 40px;
        span{
          color: white;
          text-decoration: none;
          font-family: $font-family-PT;
          letter-spacing: $letter-spacing;
          
        }
      }
    }
  }
}